body {
    background: #F7C1C1;
}

#app {
    height: 100%;
}

#titleText {
    color: #FFFFFF;
    background: #F7C1C1;
    font-size: 80px;
    text-align: center;
    text-shadow: 4px 3px 0 #7A7A7A;
}

#footer {
    text-align: center;
    background: #FFFFFF;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#homeButton, #newPostButton{
    margin: 2px 10px;
}

#searchButton {
    width: 15%;
}

#postList {
    margin-top: 10px;
}